section {
    padding: 2rem;
}

.app-add-clips {
    background: #ccc;
}

.app-add-grades { 
    background: #9ecdff;
}

.app_input_active_cdls_tbody {
    font-family: var(--bs-font-monospace);
    font-size: 80%;
}